
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.12.0.css">
	<title>Tests for Simple Map</title>
	<style>
		.simplemap img
		{
			max-width:none !important;
			padding:0 !important;
			margin:0 !important;
		}
		.staticmap,.staticmap img
		{
			max-width:100% !important;height:auto !important;
		}
		.simplemap .simplemap-content{
			display:none;
		}

		body
		{
			width: 640px;
			margin: 20px auto;
		}
		div.simplemap
		{
			margin: 1em 0;
		}
	</style>
</head>

<body>
	<h1>Tests for simple-map.js</h1>
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>

__SHORTCODES__

	<h2>Test in Modal</h2>
	<div id="modal-map" style="display: none;">[map addr="Osaka, Japan"]</div>
	<div><a href="javascript:void(0);" onclick="$('#modal-map').show(); return false;">Show Map</div>

	<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>
	<script type='text/javascript' src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
	<script type='text/javascript' src='../../js/simple-map.min.js'></script>
	<script type='text/javascript' src='http://code.jquery.com/qunit/qunit-1.12.0.js'></script>
    <script src='tests.js'></script>
</body>
</html>
